<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Create Blog</title>
</head>
<body>

    <%- include("partials/header.ejs") %>
    <main>
        <h1>Create Blog</h1>
        <%- include("partials/blog_nav.ejs") %>

        <!-- body box -->
        <%- include("partials/blog_create_new.ejs") %>

    </main>

    <%- include("partials/footer.ejs") %>
    
</body>
</html>