<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Blog</title>
</head>
<body>

    <%- include("partials/header.ejs") %>
    <main>
        <h1>Your Blog</h1>
        <%- include("partials/blog_nav.ejs") %>

        <!-- body box -->
        <%- include("partials-manage/blog_user_manage.ejs") %>

    </main>

    <%- include("partials/footer.ejs") %>
    
</body>
</html>