<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Manage Blog</title>
</head>
<body>

    <%- include("partials/header.ejs") %>
    <main>
        <h1>Your blog : delete</h1>
        <%- include("partials/blog_nav.ejs") %>


        <!-- body box -->
        
        <%- include("partials\blog_user_delete.ejs") %>
    

    </main>

    <%- include("partials/footer.ejs") %>
    
</body>
</html>