<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/head.ejs") %>
    <title>Class List - High Street Gym</title>
</head>
<body>
    <main>
        <!-- Header with nav bar -->
        <%- include("partials/header.ejs") %>        

        <!-- Search box -->
        <form action="class_list" method="get" class="search-form">
            <input type="text" name="search_term" id="search-term1" placeholder="Class Name" />
            <input type="text" name="search_term_trainer" id="search-term" placeholder="Trainer Name" />
            <input type="submit" value="Search" class="search-button"/> 
        </form>

        
            

        <!-- Class List -->
        <section class="class-list">
            <!-- Loop for each class -->
            <% for (const classItem of ClassUserActivity) { %>
            <article class="class-card">
                <img src="/image/Gym.jpg" alt="Gym">
                <h2><%= classItem.activity_name %></h2>
                <span>Datetime: <%= classItem.class_datetime %></span>
                <span>Location: <%= classItem.location_name %></span>
                <span>Activity: <%= classItem.activity_name %> </span>
                <span>Trainer: <%= classItem.user_firstname %> <%= classItem.user_lastname %></span>
                <a href="/booking?id=<%= classItem.class_id %>">Booking</a>
            </article>
            <% } %>
        </section>


        <!-- TODO Footer -->
        <%- include("partials/footer.ejs") %>
    </main>
</body>
</html>
