<form action="/edit_user_action" method="post" class="form-grid-user">
    <input type="hidden" name="id" value="<%= editUser.id %>">
    <label for="user-email">E-mail : </label>
    <input type="email" name="email" id="user-email" value="<%= editUser.email %>">

    <label for="user-password">Password : </label>
    <input type="password" name="password" id="user-password" value="<%= editUser.password %>">

    <label for="user-role">Role : </label>
    <select name="role" id="user-role">
        <option <%= editUser.role=="admin" ? "selected" : "" %> value="admin">Admin</option>
        <option <%= editUser.role=="trainer" ? "selected" : "" %> value="trainer">Trainer</option>
        <option <%= editUser.role=="members" ? "selected" : "" %> value="members">Members</option>
    </select>

    <label for="user-phone">Phone : </label>
    <input type="tel" name="phone" id="user-phone" value="<%= editUser.phone %>">

    <label for="user-firstname">First name : </label>
    <input type="text" name="firstname" id="user-firstname" value="<%= editUser.firstname %>">

    <label for="user-lastname">Last name : </label>
    <input type="text" name="lastname" id="user-lastname" value="<%= editUser.lastname %>">

    <label for="user-address">Address : </label>
    <input type="text" name="address" id="user-address" value="<%= editUser.address %>">

    <div class="button-manage-user">
        <input type="submit" name="action" value="delete" class="button"/>
    </div>

    <% if (editUser.id == 0) { %>
    <div class="button-manage-user">
        <input type="submit" name="action" value="create" class="button"/>
    </div>  
    <% } else { %>
    <div class="button-manage-user">
        <input type="submit" name="action" value="update" class="button"/>
    </div>
    <% } %>
</form>



<!-- <section class = "body-background-box">
    <h2 class = "h2-text">User Update</h2><br>
    
 
    <form action="/edit_user_action" method="post" class="form-grid">

        <input type="hidden" name="id" value="<%= editUser.id %>">

        <label for="user-email">E-mail : </label>
        <input type="email" name="email" id="user-email" value="<%= editUser.email %>">

        <label for="user-password">Password : </label>
        <input type="password" name="user_password" id="user-password" value="<%= editUser.password %>">

        <label for="user-role">Role : </label>
        <select name="user_role" id="user-role">
            <option <%= editUser.user_role=="admin" ? "selected" : "" %>  value="admin">Admin</option>
            <option <%= editUser.user_role=="trainer" ? "selected" : "" %> value="trainer">Trainer</option>
            <option <%= editUser.user_role=="members" ? "selected" : "" %> value="members">Members</option>
        </select>

        <label for="user-phone">Phone : </label>
        <input type="tel" name="user_phone" id="user-phone" value="<%= editUser.phone %>">

        <label for="user-firstname">First name : </label>
        <input type="text" name="firstname" id="user-firstname" value="<%= editUser.firstname %>">

        <label for="user-lastname">Last name : </label>
        <input type="text" name="lastname" id="user-lastname" value="<%= editUser.lastname %>">

        <label for="user-address">Address : </label>
        <input type="text" name="address" id="user-address" value="<%= editUser.address %>">


        

        <div class = "button">
        <input type="submit" name="action" value="delete" class="button"/>
        </div>

        <% if (editUser.id == 0) { %>
        <div class = "button">
        <input type="submit" name="action" value="create" class="button"/>
        </div>  

        <% } else { %>
        <div class = "button">
        <input type="submit" name="action" value="update"class="button"/>
        </div>
        <% } %>

    </form>
</section> -->